body {
    background: #113;
    animation-name: sky;
    animation-duration: 86400s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1 {
    font-family: Arial;
    color: white;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    left: 500px;
    top: 500px;
    border-radius: 50%;
    animation-name: sun;
    animation-duration: 86400s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
 /*   animation-direction: reverse; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.stars {
    background: white;
    width: 20px;
    height: 20px;
    position: relative;
    left: 700px;
    border-radius: 50%;
    animation-name: star;
    animation-duration: 86400s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes sun {
    0% {background-color: white;transform: rotate(0);transform-origin: bottom left;}
    25% {background: rgb(255,208,158);background: linear-gradient(0deg, rgba(255,208,158,1) 0%, rgba(255,208,158,0.2) 100%);}
    50% {background: rgb(255,230,211);background: linear-gradient(0deg, rgba(255,230,211,0.7) 0%, rgba(255,245,151,1) 100%);}
    75% {background: rgb(251,242,156);background: linear-gradient(0deg, rgba(251,242,156,1) 0%, rgba(251,242,156,0.2) 80%, rgba(251,148,33,0) 100%);}
    100% {background-color: white;transform: rotate(360deg);transform-origin: bottom left;}
}

@keyframes sky {
    0% {background-color: #00052f;}
    25% {background: rgb(255,189,135);background: linear-gradient(90deg, rgba(255,189,135,1) 0%, rgba(255,215,145,1) 23%, rgba(247,232,166,1) 44%, rgba(174,232,232,1) 73%, rgba(144,173,249,1) 100%);}
    50% {background: rgb(255,229,119);background: linear-gradient(90deg, rgba(255,229,119,0.2) 0%, rgba(136,234,255,1) 50%);}
    75% {background: rgb(57,32,51);background: linear-gradient(90deg, rgba(57,32,51,1) 0%, rgba(253,96,81,0.72) 50%, rgba(255,136,102,0.55) 65%, rgba(254,192,81,0.25) 80%, rgba(255,229,119,0.2) 100%);}
    100% {background-color: #00052f;}
}

@keyframes star {
    0% {opacity: 100%} 
    20% {opacity: 0%} 
    40% {opacity: 0%} 
    60% {opacity: 0%}
    70% {opacity: 80%}
    80% {opacity: 100%}
    100% {opacity: 100%}
}