.container {
    display: grid;
    grid-template-columns: 
}

.container div {
    background: #eee;
    padding: 1em;
}

.container div:nth-child(odd) {
    background: #ddd
}

.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.box2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}